.container {
  max-width: 1440px;
  margin-inline: auto;
}

.header {
  min-height: 60px;
  background-color: var(--color-dark);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  background-color: var(--color-white);
}